{% extends "all-bases/main-base.html" %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'about/css/pricing.css' %}"/>

{% endblock %}

{% block title %}
Pricing
{% endblock %}





{% block body %}
    {% include "all-bases/fixed-nav-strip.html" %}
    Everyone who has been in business for sometime has had to add a few words to their vocabulary. One of those words is tax clearance. There are several types of tax clearances available but this article will focus only on ITF263 for income and employee tax.
    What is a tax clearance or ITF263?

    A tax clearance certificate is a document that is issued by the Commissioner General of the Zimbabwe Revenue Authority (ZIMRA) to a person liable to pay tax under any of the Acts administered by ZIMRA. The certificate is issued upon request to a person whose tax affairs are up-to-date or has made satisfactory tax compliance arrangements with ZIMRA.
    Benefits of a tax clearance?

    Tax clearance does not necessarily offer a direct benefit. It is usually needed as a requirement for doing business with other companies. There are certain situations in which your business may need tax clearance and some benefits a tax clearance certificate may give your business:

        To participate in government tenders (almost all governement tenders require a valid tax clearance as a condition).
        To participate in public tenders (this is mostly because tax registered companies prefer to do business with other tax registered companies).
        To prove that you are tax compliant (a tax clearance certificate is proof that you are paying taxes or are putting your tax issues in order).
        To avoid the 10% withholding fee (tax registered companies are required by law to withhold 10% from any company that does not have a valid tax clearance. This is levied only on order amounts above $250 during any tax year).

    Who qualifies for a tax clearance?

    Tax clearance is available for anyone who is liable pay any form of tax to ZIMRA. This includes both individuals and companies.

        Individuals or companies that have paid or submitted tax returns.
        Newly registered companies that want to trade with tax clearance requiring businesses but have not yet paid tax to ZIMRA.

    Requirements for tax clearance in Zimbabwe

    The requirements for obtaining a tax clearance in Zimbabwe are as follows:

        Certified copies of company papers.
        Certified copies of directors’ IDs.
        Proof of residence for every director (attach affidavit if proof is not in director’s name).
        Directors’ email addresses and phone numbers.
        Current bank statement of the company.
        Current personal bank statement of one of the directors.
        A budget of $50 – 150 if done through this website.

    Procedure for getting a tax clearance certificate

    The procedure for obtaining tax clearance in Zimbabwe is as follows:

    Option 1 (easy method): Get a tax consultant to do it for you.

    Option 2 (a bit more complicated):  Register with ZIMRA, submit all required documentation and apply for the tax clearance certificate.
    {% include "all-bases/all-services-cards.html" %}
    {% include "all-bases/large-footer.html" %}
{% endblock %}
