{% extends "account/base.html" %}
{% load static %}



{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}




{% block info %}
<p>{% blocktrans %}Please contact us if you have any trouble resetting your password or creating an account.{% endblocktrans %}<br><a href="{% url 'contact:contact' %}">JPM Admin</a></p>
<!-- social login buttons start -->
<div class="">
  <a class="" data-panel=".panel-login" href="{% url 'account_login' %}">Already have an account?</a>
</div>
<!-- <div class="">
  <a class="" data-panel=".panel-signup" href="{% url 'account_signup' %}">Don’t have an account?</a>
</div> -->
{% endblock %}

{% block form_header %}
{% trans "Account Inactive" %}
{% endblock %}

{% block form %}
<h3 class="auth-title">Inactive</h3>
<p>{% trans "This account is inactive." %}</p>
{% endblock %}
