{% extends "account/base.html" %}
{% load static %}


{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block form_header %}
{% trans "Confirm E-mail Address" %}yyyyy
{% endblock %}




{% block form %}

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form name="loginForm" class=""  action="{% url 'account_confirm_email' confirmation.key %}" method="POST">
  {% csrf_token %}
  <div class="">
    <button class="" name="action" target="_blank" type="submit">{% trans 'Confirm' %}</button>
  </div>
</form>
</div>
</div>
{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
