{% extends "account/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'account/css/account.css' %}"/>
{% endblock %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block form_header %}
{% trans "Change Password" %}
{% endblock %}



{% block info %}

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

{% endblock %}





{% block form %}
<h3 class="auth-title">Success!!</h3>
<p>{% trans 'Your password is now changed.' %}</p>

{% endblock %}
