{% extends "account/base.html" %}
{% load static %}


{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block form_header %}
{% trans "Change Password" %}
{% endblock %}





{% block form %}
<form name="loginForm" class="password_change"  action="{% url 'account_change_password' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
      <button class="" name="action" target="_blank" type="submit">{% trans "Change Password" %} &raquo;</button>
</form>
{% endblock %}
