{% extends "account/base.html" %}
{% load static %}



{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block form_header %}
{% trans "Change Password" %}
{% endblock %}


{% block form %}

{% if token_fail %}
<div class="">
  <h3 class="">invalid Link</h3>
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
</div>
{% else %}
{% if form %}
<div class="row">
<div class="col-xs-12 col-sm-12">
  <form name="loginForm"  action="{{ action_url }}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-group">
        <input class=" primaryAction" name="action" target="_blank" type="submit" value="{% trans 'change password' %}" />
      </div>
  </form>
</div>
{% else %}
<div class="">
  <h3 class="">Success</h3>
      <p>{% trans 'Your password is now changed.' %}</p>
</div>
</div>
{% endif %}
{% endif %}


{% endblock %}
