{% extends "account/base.html" %}
{% load static %}



{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block form_header %}
{% trans "Set Password" %}
{% endblock %}

{% block form %}
<p>Set Your Password. Secure Your account by setting a sexure password that inclues letters and numbers.</p>


<form name="loginForm" class="password_set"  action="{% url 'account_set_password' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group">
      <input class="primaryAction" name="action" target="_blank" type="submit" value="{% trans 'Set Password' %}" />
    </div>
</form>
{% endblock %}
