<div class="container-fluid px-4" id="all-services-cards-container">
    <h1>Services by category</h1>
    <div class="row text-center gx-5">
        <div class="col p-3 col-6 col-lg-3 col-md-6 col-xs-6 col-sm-6">
            <a href="{% url 'about:pricing' %}">
                <div class="p-3 new-price-card ">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="card-h4-headers">WEB Services</h4>
                                </div>
                                <div class="col-4 text-right" style="text-align:right">
                                    <i class="fas fa-2x fa-globe"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            We offer customized web solutions and feature-rich web based applications to create
                            interactive user interface.
                            Brand your product with our effective and intriguing designs.
                        </div>
                        <div class="col-12 more">
                            <a href="{% url 'about:pricing' %}">More</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col p-3 col-6 col-lg-3 col-md-6 col-xs-6 col-sm-6">
            <a href="{% url 'about:graphic_design_pricing' %}">
                <div class="p-3 new-price-card ">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="card-h4-headers">Graphic Design</h4>
                                </div>
                                <div class="col-4 text-right" style="text-align:right">
                                    <i class="fas fa-2x fa-globe"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            We offer graphic design solutions to capture customers' attention with a compelling
                            graphics, logos, poster
                            animations and videos.
                        </div>
                        <div class="col-12 more">
                            <a href="{% url 'about:graphic_design_pricing' %}">More</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col p-3 col-6 col-lg-3 col-md-6 col-xs-6 col-sm-6">
            <a href="{% url 'about:gis_pricing' %}">
                <div class="p-3 new-price-card ">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="card-h4-headers">GIS</h4>
                                </div>
                                <div class="col-4 text-right" style="text-align:right">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-map-fill" LEARN MOREBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M16 .5a.5.5 0 0 0-.598-.49L10.5.99 5.598.01a.5.5 0 0 0-.196 0l-5 1A.5.5 0 0 0 0 1.5v14a.5.5 0 0 0 .598.49l4.902-.98 4.902.98a.502.502 0 0 0 .196 0l5-1A.5.5 0 0 0 16 14.5V.5zM5 14.09V1.11l.5-.1.5.1v12.98l-.402-.08a.498.498 0 0 0-.196 0L5 14.09zm5 .8V1.91l.402.08a.5.5 0 0 0 .196 0L11 1.91v12.98l-.5.1-.5-.1z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            We provide GIS services with an all-inclusive solution for spatial data management.
                            These include capturing, storing, integrating, manipulating, analyzing, and displaying data.
                        </div>
                        <div class="col-12 more">
                            <a href="{% url 'about:gis_pricing' %}">More</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col p-3 col-6 col-lg-3 col-md-6 col-xs-6 col-sm-6">
            <a href="{% url 'about:health_services' %}">
                <div class="p-3 new-price-card ">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="card-h4-headers">Health</h4>
                                </div>
                                <div class="col-4 text-right" style="text-align:right">
                                    <i class="fas fa-2x fa-first-aid"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            We provide professional health services through registered institiutions and nurses
                            including epidemiological data and maps.
                        </div>
                        <div class="col-12 more">
                            <a href="{% url 'about:health_services' %}">More</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col p-3 col-6 col-lg-3 col-md-6 col-xs-6 col-sm-6">
            <a href="{% url 'about:company_reg_pricing' %}">
                <div class="p-3 new-price-card ">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="card-h4-headers">Business</h4>
                                </div>
                                <div class="col-4 text-right" style="text-align:right">
                                    <i class="fas fa-2x fa-business-time"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            Kick start your company with our essential services that include company registration, tax
                            clearance, brand marketing stragegies.
                        </div>
                        <div class="col-12 more">
                            <a href="{% url 'about:company_reg_pricing' %}">More</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>