{% load static %}
<div class="footer-container ">
    <section class="footers  pt-2 ">
       <div class="container pt-5">
           <div class="row">
               <div class="col-xs-12 col-12 col-sm-12 col-md-2 footers-one">
                    <div class="footers-logo">
                        <img src="{% static 'play/img/logo.png' %}"  width="150px;" class="d-inline-block align-top" alt="FXsaurus">
                    </div>
                    <div class="footers-info mt-3">
                        <p>
                            Let us transform your brand!
                        </p>
                    </div>
                    <div class="social-icons">
                    <a href="https://www.facebook.com/"><i id="social-fb" class="fab fa-facebook-square fa-2x social"></i></a>
                    <a href="https://twitter.com/"><i id="social-tw" class="fab fa-twitter-square fa-2x social"></i></a>
                    <a href="https://plus.google.com/"><i id="social-gp" class="fab fa-google-plus-square fa-2x social"></i></a>
                    <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
                </div>
                </div>
               <div class="col-xs-6 col-6 col-sm-6 col-md-2 footers-two">
                    <h5>Web Services</h5>
                    <ul class="list-unstyled">
                     <li><a href="{% url 'about:pricing' %}">Web Development</a></li>
                     <li><a href="{% url 'about:pricing' %}">eCommerce</a></li>
                     <li><a href="{% url 'about:pricing' %}">Digital Marketing</a></li>
                     <li><a href="{% url 'about:pricing' %}">Web Hosting</a></li>
                     <li><a href="{% url 'about:pricing' %}">SEO Services</a></li>
                    </ul>
                </div>
               <div class="col-xs-6 col-6 col-sm-6 col-md-2 footers-three">
                    <h5>Business</h5>
                    <ul class="list-unstyled">
                     <li><a href="{% url 'about:company_reg_pricing' %}">Company Registration</a></li>
                     <li><a href="{% url 'about:tax_clearance' %}">Tax clearance</a></li>
                     <li><a href="{% url 'about:tax_clearance' %}">Tax clearance</a></li>
                    </ul>
                </div>
               <div class="col-xs-6 col-6 col-sm-6 col-md-2 footers-four">
                    <h5>GIS</h5>
                    <ul class="list-unstyled">
                     <li><a href="{% url 'about:graphic_design_pricing' %}">Cartography</a></li>
                     <li><a href="{% url 'about:graphic_design_pricing' %}">Data collection</a></li>
                     <li><a href="{% url 'about:graphic_design_pricing' %}">Data Analysis</a></li>
                     <li><a href="{% url 'about:graphic_design_pricing' %}">Implementation</a></li>
                    </ul>
                </div>
               <div class="col-xs-6 col-6 col-sm-6 col-md-2 footers-five">
                    <h5>Health </h5>
                    <ul class="list-unstyled">
                     <li><a href="{% url 'about:health_services' %}">Viac Screening</a></li>
                     <li><a href="{% url 'about:health_services' %}">Epidemiological data</a></li>
                     <li><a href="{% url 'about:health_services' %}">Covid-19 Statistics</a></li>
                     <li><a href="{% url 'about:health_services' %}">Safety, Health and Environment(SHE)</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-6 col-sm-6 col-md-2 footers-five">
                     <h5>SoloClip </h5>
                     <ul class="list-unstyled">
                      <li><a href="{% url 'about:contact' %}">Careers</a></li>
                      <li><a href="{% url 'about:about' %}">Terms and Privacy Policy</a></li>
                      <li><a href="{% url 'about:about' %}">About Us</a></li>
                      <li><a href="{% url 'about:contact' %}">Contact Us</a></li>
                      <li><a href="{% url 'about:contact' %}">Blog</a></li>
                     </ul>
                 </div>
           </div>
       </div>
   </section> <hr class="new4">
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site was developed by <a class="name" href="/" target="_blank">Fxsaurus</a>
                    </p>
                </div>
            <div class="col-sm-6"></div>
            </div>
        </div>
    </section>
</div>
